.empContainer {
  width: 100%;
  align-items: center;
}

header {
  text-align: center;
  background-color: blue;
  color: white;
  padding: 25px;
  margin-bottom: 30px;
}

.searchForm {
  margin-bottom: 20px;
  align-items: center;
}

.row {
  margin-bottom: 10px;
}
