.empContainer {
  width: 100%;
  align-items: center;
}

header {
  text-align: center;
  background-color: rgb(2, 117, 216);
  color: white;
  padding: 25px;
  margin-bottom: 30px;
}

.searchForm {
  margin-bottom: 40px;
  align-items: center;
}

.rowHead {
  cursor: pointer;
}

.row {
  margin-bottom: 10px;
}

